<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{ataTurno.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{ataTurno.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/ataTurnos/add}" th:text="#{ataTurno.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='ataTurno')}" />
            <div th:if="${ataTurnos.empty}" th:text="#{ataTurno.list.empty}" />
            <div th:if="${!ataTurnos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{ataTurno.id.label}" scope="col" />
                            <th th:text="#{ataTurno.agrupador.label}" scope="col" />
                            <th th:text="#{ataTurno.turno.label}" scope="col" />
                            <th th:text="#{ataTurno.setor.label}" scope="col" />
                            <th th:text="#{ataTurno.usuario.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ataTurno : ${ataTurnos}">
                            <td th:text="${ataTurno.id}" />
                            <td th:text="${ataTurno.agrupador}" />
                            <td th:text="${ataTurno.turno}" />
                            <td th:text="${ataTurno.setor}" />
                            <td th:text="${ataTurno.usuario}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/ataTurnos/edit/{id}(id=${ataTurno.id})}" th:text="#{ataTurno.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/ataTurnos/delete/{id}(id=${ataTurno.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{ataTurno.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
