<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{planoAnaliseColuna.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{planoAnaliseColuna.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/planoAnaliseColunas/add}" th:text="#{planoAnaliseColuna.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='planoAnaliseColuna')}" />
            <div th:if="${planoAnaliseColunas.empty}" th:text="#{planoAnaliseColuna.list.empty}" />
            <div th:if="${!planoAnaliseColunas.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{planoAnaliseColuna.id.label}" scope="col" />
                            <th th:text="#{planoAnaliseColuna.qtdUtilizada.label}" scope="col" />
                            <th th:text="#{planoAnaliseColuna.obs.label}" scope="col" />
                            <th th:text="#{planoAnaliseColuna.planoAnalise.label}" scope="col" />
                            <th th:text="#{planoAnaliseColuna.coluna.label}" scope="col" />
                            <th th:text="#{planoAnaliseColuna.unidade.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="planoAnaliseColuna : ${planoAnaliseColunas}">
                            <td th:text="${planoAnaliseColuna.id}" />
                            <td th:text="${planoAnaliseColuna.qtdUtilizada}" />
                            <td th:text="${planoAnaliseColuna.obs}" />
                            <td th:text="${planoAnaliseColuna.planoAnalise}" />
                            <td th:text="${planoAnaliseColuna.coluna}" />
                            <td th:text="${planoAnaliseColuna.unidade}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/planoAnaliseColunas/edit/{id}(id=${planoAnaliseColuna.id})}" th:text="#{planoAnaliseColuna.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/planoAnaliseColunas/delete/{id}(id=${planoAnaliseColuna.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{planoAnaliseColuna.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
