<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{usuario.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{usuario.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/usuarios}" th:text="#{usuario.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('usuario')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='cep')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='changePass', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='cidade')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='cpf')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='detalhes')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='endereco')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='estado')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='failedAccessCount', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='lastChangePass')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='lastLogin')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='lastLogout')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nome')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='pais')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='password', type='password')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='sobrenome')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='telefone')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='username')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='grupos', type='multiselect')}" />
                <input type="submit" th:value="#{usuario.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
