<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{colunaLog.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{colunaLog.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/colunaLogs}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/colunaLogs/audit/{id}(id=${colunaLog.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('colunaLog')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='dataIncio')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='dataFim')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='sentido')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='precoluna')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='prefiltro')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='injecoes')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='colunaUtil', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='usuarioInicio', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='usuarioFim', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='campanha', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='analise', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='equipamento', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaLog', field='anexo', type='select')}" />
</div>
</html>
