<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{colunaLog.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{colunaLog.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/colunaLogs/add}" th:text="#{colunaLog.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='colunaLog')}" />
            <div th:if="${colunaLogs.empty}" th:text="#{colunaLog.list.empty}" />
            <div th:if="${!colunaLogs.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{colunaLog.id.label}" scope="col" />
                            <th th:text="#{colunaLog.dataIncio.label}" scope="col" />
                            <th th:text="#{colunaLog.dataFim.label}" scope="col" />
                            <th th:text="#{colunaLog.sentido.label}" scope="col" />
                            <th th:text="#{colunaLog.precoluna.label}" scope="col" />
                            <th th:text="#{colunaLog.prefiltro.label}" scope="col" />
                            <th th:text="#{colunaLog.injecoes.label}" scope="col" />
                            <th th:text="#{colunaLog.colunaUtil.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="colunaLog : ${colunaLogs}">
                            <td th:text="${colunaLog.id}" />
                            <td th:text="${colunaLog.dataIncio}" />
                            <td th:text="${colunaLog.dataFim}" />
                            <td th:text="${colunaLog.sentido}" />
                            <td th:text="${colunaLog.precoluna}" />
                            <td th:text="${colunaLog.prefiltro}" />
                            <td th:text="${colunaLog.injecoes}" />
                            <td th:text="${colunaLog.colunaUtil}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/colunaLogs/edit/{id}(id=${colunaLog.id})}" th:text="#{colunaLog.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/colunaLogs/delete/{id}(id=${colunaLog.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{colunaLog.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
