<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{solucaoTipo.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{solucaoTipo.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/solucaoTipos/add}" th:text="#{solucaoTipo.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='solucaoTipo')}" />
            <div th:if="${solucaoTipos.empty}" th:text="#{solucaoTipo.list.empty}" />
            <div th:if="${!solucaoTipos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{solucaoTipo.id.label}" scope="col" />
                            <th th:text="#{solucaoTipo.siglaSolucao.label}" scope="col" />
                            <th th:text="#{solucaoTipo.tipoSolucao.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="solucaoTipo : ${solucaoTipos}">
                            <td th:text="${solucaoTipo.id}" />
                            <td th:text="${solucaoTipo.siglaSolucao}" />
                            <td th:text="${solucaoTipo.tipoSolucao}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/solucaoTipos/edit/{id}(id=${solucaoTipo.id})}" th:text="#{solucaoTipo.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/solucaoTipos/delete/{id}(id=${solucaoTipo.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{solucaoTipo.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
