<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{loteStatus.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{loteStatus.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/loteStatuss}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/loteStatuss/audit/{id}(id=${loteStatus.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('loteStatus')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='dataStatus', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='dataPrevisao', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='dataProgramado', inputClass='js-timepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='dataConferencia1', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='dataConferencia2', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='lote', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='planoAnalise', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='analiseStatus', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='conferente1', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='loteStatus', field='conferente2', type='select')}" />
</div>
</html>