<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{loteStatus.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{loteStatus.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/loteStatuss/add}" th:text="#{loteStatus.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${loteStatuss.empty}" th:text="#{loteStatus.list.empty}"/>
    <div th:if="${!loteStatuss.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{loteStatus.id.label}" scope="col" />
    <th th:text="#{loteStatus.dataStatus.label}" scope="col" />
    <th th:text="#{loteStatus.dataPrevisao.label}" scope="col" />
    <th th:text="#{loteStatus.dataProgramado.label}" scope="col" />
    <th th:text="#{loteStatus.dataConferencia1.label}" scope="col" />
    <th th:text="#{loteStatus.dataConferencia2.label}" scope="col" />
    <th th:text="#{loteStatus.obs.label}" scope="col" />
    <th th:text="#{loteStatus.lote.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="loteStatus : ${loteStatuss}">
        <td th:text="${loteStatus.id}"/>
        <td th:text="${loteStatus.version}"/>
        <td th:text="${loteStatus.dataStatus}" />
        <td th:text="${loteStatus.dataPrevisao}" />
        <td th:text="${loteStatus.dataProgramado}" />
        <td th:text="${loteStatus.dataConferencia1}" />
        <td th:text="${loteStatus.dataConferencia2}" />
        <td th:text="${loteStatus.obs}" />
        <td th:text="${loteStatus.lote}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/loteStatuss/edit/{id}(id=${loteStatus.id})}"
                   th:text="#{loteStatus.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${loteStatus.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${loteStatus.id}, link='loteStatuss')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/loteStatuss/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
