<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{departamento.add.headline}"/>
</head>
<span layout:fragment="addHeadline">
    <h1 th:text="#{departamento.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/departamentos}" th:text="#{add.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('departamento')}"/>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='departamentodepartamento', field='departamento')}" />
    <div th:replace="~{fragments/forms::inputRow(object='departamento', field='siglaDepartamento')}" />
    <div th:replace="~{fragments/forms::inputRow(object='departamento', field='descricao')}" />
</div>
</html>