<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{departamento.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{departamento.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/departamentos/add}" th:text="#{departamento.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='departamento')}" />
            <div th:if="${departamentos.empty}" th:text="#{departamento.list.empty}" />
            <div th:if="${!departamentos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{departamento.id.label}" scope="col" />
                            <th th:text="#{departamento.departamento.label}" scope="col" />
                            <th th:text="#{departamento.siglaDepartamento.label}" scope="col" />
                            <th th:text="#{departamento.descricao.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="departamento : ${departamentos}">
                            <td th:text="${departamento.id}" />
                            <td th:text="${departamento.departamento}" />
                            <td th:text="${departamento.siglaDepartamento}" />
                            <td th:text="${departamento.descricao}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/departamentos/edit/{id}(id=${departamento.id})}" th:text="#{departamento.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/departamentos/delete/{id}(id=${departamento.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{departamento.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
