<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{departamento.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{departamento.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/departamentos/add}" th:text="#{departamento.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${departamentos.empty}" th:text="#{departamento.list.empty}"/>
    <div th:if="${!departamentos.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{departamento.departamento.label}" scope="col" />
    <th th:text="#{departamento.siglaDepartamento.label}" scope="col" />
    <th th:text="#{departamento.descricao.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="departamento : ${departamentos}">
        <td th:text="${departamento.id}" />
        <td th:text="${departamento.version}" />
        <td th:text="${departamento.departamento}" />
        <td th:text="${departamento.siglaDepartamento}" />
        <td th:text="${departamento.descricao}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/departamentos/edit/{id}(id=${departamento.id})}"
                   th:text="#{departamento.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${departamento.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${departamento.id}, link='departamentos')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/departamentos/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
