<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{registration.register.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{registration.register.headline}" class="mb-4" />
            <div th:replace="~{fragments/forms::globalErrors('registrationRequest')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='nome')}" />
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='sobrenome')}" />
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='username')}" />
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='password', type='password')}" />
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='email')}" />
                <input type="submit" th:value="#{registration.register.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
