<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                        <h4 class="card-title d-flex">
                            <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>
                            <span layout:fragment="auditHeadline"></span>
                        </h4>
                        <ul class="list-inline d-flex mb-0">
                            <li class="d-flex align-items-center">
                                <i class="bx bx-sort me-50 font-medium-3"></i>
                                <span layout:fragment="auditBack"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body mt-3">
                        <div class="dataTable-wrapper table-responsive">
                            <table class="table table-striped table-hover table-sm align-middle" id="tableAudit"
                                   sec:authorize="hasAnyAuthority('ADMIN')">
                                <thead>
                                <tr>
                                    <th th:text="#{id.label}" scope="col"/>
                                    <th th:text="#{audit.version}" scope="col"/>
                                    <th th:text="#{audit.tipo}" scope="col"/>
                                    <!-- FIX-->
                                    <span layout:fragment="auditTHeads"/>
                                    <!-- FIX-->
                                    <th>Usuário</th>
                                    <th>Data</th>
                                    <th>Ip</th>
                                    <th>Motivo</th>
                                    <th>Revisao</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="a:${audits}">
                                    <td th:text="${a.getEntidade().getId()}"></td>
                                    <td th:text="${a.getEntidade().getVersion()}"></td>
                                    <td th:text="${a.getRevisao().getRevType()}"></td>
                                    <!-- FIX-->
                                    <span layout:fragment="auditTBody"/>
                                    <!-- FIX-->
                                    <td th:text="${a.getRevisao().getUserName()}"></td>
                                    <td th:text="${#dates.format(a.getRevisao().getRevisionDate(), 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td th:text="${a.getRevisao().getIp()}"></td>
                                    <td th:text="${a.getRevisao().getMotivo()}"></td>
                                    <td th:text="${a.getRevisao().getId()}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th th:text="#{id.label}" scope="col"/>
                                    <th th:text="#{audit.version}" scope="col"/>
                                    <th th:text="#{audit.tipo}" scope="col"/>
                                    <!-- FIX-->
                                    <span layout:fragment="auditTHeads"/>
                                    <!-- FIX-->
                                    <th>Usuário</th>
                                    <th>Data</th>
                                    <th>Ip</th>
                                    <th>Motivo</th>
                                    <th>Revisao</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<span layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#tableAudit').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var search = $(`<input class="form-control form-control-sm" type="text">`)
                            .appendTo($(column.footer()).empty())
                            .on('change input', function () {
                                var val = $(this).val()

                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });
                    });
                }
            });
        });
    </script>
</span>
</html>
