<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
            <h4 class="card-title d-flex">
                <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>
                <span layout:fragment="editHeadline"></span>
            </h4>
            <ul class="list-inline d-flex mb-0">
                <li class="d-flex align-items-center">
                    <i class="bx bx-sort me-50 font-medium-3"></i>
                    <span layout:fragment="editBack"></span>
                </li>
                <li class="d-flex align-items-center">
                    <i class="bx bx-sort me-50 font-medium-3"></i>
                    <span layout:fragment="editAudit"></span>
                </li>
            </ul>
        </div>
        <div class="card-content">
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div class="card-body">
                    <div th:if="${MSG_ERROR != null}" th:text="${MSG_ERROR}" id="errorAlert"
                         class="alert alert-danger alert-dismissible fade show" role="alert"/>
                    <div layout:fragment="editGlobalErrors"/>
                    <div class="main-content container-fluid" layout:fragment="editContent"/>
                </div>
                <div class="card-footer">
                    <div class="col-sm-12 d-flex justify-content-start">
                        <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                                th:attr="data-bs-target='#edit'" th:text="#{edit.btn}"
                                sec:authorize="hasAnyAuthority('ADMIN','MASTERUSER')"/>
                    </div>
                </div>
                <div th:replace="fragments/modal :: modalEdit"></div>
            </form>
        </div>
    </div>
</div>
</body>
<span layout:fragment="script">
    <script th:inline="javascript">
        window.setTimeout(function () {
            $('#errorAlert').fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
</span>
</html>