<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="container col-md-12 justify-content-center">
            <img src="/images/logo.png" alt="Max-width 100%" srcset="" class="col-md-12 mt-2 justify-content-center">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class='sidebar-title'>Menu Principal</li>

                <!--Dashboard-->
                <li class="sidebar-item active ">
                    <a href="/index" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Dashboard</span>
                    </a>

                </li>

                <!--Cadastro-->
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i>
                        <span>Cadastro</span>
                    </a>
                    <ul class="submenu ">
                        <li>
                            <a href="/material">Material Home</a>
                        </li>

                        <li>
                            <a href="/parameters">Parametros</a>
                        </li>

                    </ul>

                </li>

                <!--________________________________________-->
                <li class='sidebar-title'>Admin Config</li>
                <!--________________________________________-->

                <!--Security-->
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span>Segurança</span>
                    </a>
                    <ul class="submenu ">
                        <li>
                            <a href="/security">Security Home</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>