<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{colunaVaga.list.headline} + ' ' + Auditoria"/>
</head>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{colunaVaga.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/colunaVagas}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="auditTHeads">
    <th th:text="#{colunaVaga.vaga.label}" scope="col" />
    <th th:text="#{colunaVaga.obs.label}" scope="col" />
    <th th:text="#{colunaVaga.colunaStorage.label}" scope="col" />
</span>
<span layout:fragment="auditTBody">
    <td th:text="${a.getEntidade().getVaga()}"></td>
    <td th:text="${a.getEntidade().getObs()}"></td>
    <td th:text="${a.getEntidade().getColunaStorage()}"></td>
</span>
</html>

