<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{equipamentoLog.list.headline} + ' ' + Auditoria"/>
</head>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{equipamentoLog.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/equipamentoLogs}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="auditTHeads">
    <th th:text="#{equipamentoLog.descricao.label}" scope="col" />
    <th th:text="#{equipamentoLog.dataInicio.label}" scope="col" />
    <th th:text="#{equipamentoLog.dataFim.label}" scope="col" />
    <th th:text="#{equipamentoLog.obs.label}" scope="col" />
    <th th:text="#{equipamentoLog.atividade.label}" scope="col" />
    <th th:text="#{equipamentoLog.equipamento.label}" scope="col" />
    <th th:text="#{equipamentoLog.usuarioInicio.label}" scope="col" />
</span>
<span layout:fragment="auditTBody">
    <td th:text="${a.getEntidade().getDescricao()}"></td>
    <td th:text="${a.getEntidade().getDataInicio()}"></td>
    <td th:text="${a.getEntidade().getDataFim()}"></td>
    <td th:text="${a.getEntidade().getObs()}"></td>
    <td th:text="${a.getEntidade().getAtividade()}"></td>
    <td th:text="${a.getEntidade().getEquipamento()}"></td>
    <td th:text="${a.getEntidade().getUsuarioInicio()}"></td>
</span>
</html>

