<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{equipamentoLog.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{equipamentoLog.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/equipamentoLogs}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/equipamentoLogs/audit/{id}(id=${equipamentoLog.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('equipamentoLog')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='descricao')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='dataInicio', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='dataFim', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='atividade', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='equipamento', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='usuarioInicio', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='usuarioFim', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamentoLog', field='anexo', type='select')}" />
</div>
</html>