<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{equipamentoLog.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{equipamentoLog.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/equipamentoLogs/add}" th:text="#{equipamentoLog.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='equipamentoLog')}" />
            <div th:if="${equipamentoLogs.empty}" th:text="#{equipamentoLog.list.empty}" />
            <div th:if="${!equipamentoLogs.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{equipamentoLog.id.label}" scope="col" />
                            <th th:text="#{equipamentoLog.descricao.label}" scope="col" />
                            <th th:text="#{equipamentoLog.dataInicio.label}" scope="col" />
                            <th th:text="#{equipamentoLog.dataFim.label}" scope="col" />
                            <th th:text="#{equipamentoLog.obs.label}" scope="col" />
                            <th th:text="#{equipamentoLog.atividade.label}" scope="col" />
                            <th th:text="#{equipamentoLog.equipamento.label}" scope="col" />
                            <th th:text="#{equipamentoLog.usuarioInicio.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="equipamentoLog : ${equipamentoLogs}">
                            <td th:text="${equipamentoLog.id}" />
                            <td th:text="${equipamentoLog.descricao}" />
                            <td th:text="${equipamentoLog.dataInicio}" />
                            <td th:text="${equipamentoLog.dataFim}" />
                            <td th:text="${equipamentoLog.obs}" />
                            <td th:text="${equipamentoLog.atividade}" />
                            <td th:text="${equipamentoLog.equipamento}" />
                            <td th:text="${equipamentoLog.usuarioInicio}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/equipamentoLogs/edit/{id}(id=${equipamentoLog.id})}" th:text="#{equipamentoLog.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/equipamentoLogs/delete/{id}(id=${equipamentoLog.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{equipamentoLog.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
