<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{equipamentoLog.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{equipamentoLog.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/equipamentoLogs/add}" th:text="#{equipamentoLog.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${equipamentoLogs.empty}" th:text="#{equipamentoLog.list.empty}"/>
    <div th:if="${!equipamentoLogs.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{equipamentoLog.descricao.label}" scope="col" />
    <th th:text="#{equipamentoLog.dataInicio.label}" scope="col" />
    <th th:text="#{equipamentoLog.dataFim.label}" scope="col" />
    <th th:text="#{equipamentoLog.obs.label}" scope="col" />
    <th th:text="#{equipamentoLog.atividade.label}" scope="col" />
    <th th:text="#{equipamentoLog.equipamento.label}" scope="col" />
    <th th:text="#{equipamentoLog.usuarioInicio.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="equipamentoLog : ${equipamentoLogs}">
        <td th:text="${equipamentoLog.id}" />
        <td th:text="${equipamentoLog.version}" />
        <td th:text="${equipamentoLog.descricao}" />
        <td th:text="${equipamentoLog.dataInicio}" />
        <td th:text="${equipamentoLog.dataFim}" />
        <td th:text="${equipamentoLog.obs}" />
        <td th:text="${equipamentoLog.atividade}" />
        <td th:text="${equipamentoLog.equipamento}" />
        <td th:text="${equipamentoLog.usuarioInicio}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/equipamentoLogs/edit/{id}(id=${equipamentoLog.id})}"
                   th:text="#{equipamentoLog.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${equipamentoLog.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${equipamentoLog.id}, link='equipamentoLogs')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/equipamentoLogs/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>