<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{reagente.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{reagente.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/reagentes}" th:text="#{reagente.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('reagente')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='codigo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='reagente')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='casNumber')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='qtdEstoqueMin', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='qtdEstoqueMax', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='compraUnica', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='enderecamento')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='numeroIdentificacao')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='armazenamento')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='grau')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='pureza')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='classe')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='controlado')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='saude', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='inflamabilidade', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='reatividade', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='especifico')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='obs')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='unidade', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reagente', field='fds', type='select')}" />
                <input type="submit" th:value="#{reagente.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
