<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{analiseTipo.list.headline} + ' ' + Auditoria"/>
</head>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{analiseTipo.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/analiseTipos}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="auditTHeads">
    <th th:text="#{analiseTipo.analiseTipo.label}" scope="col"/>
    <th th:text="#{analiseTipo.siglaAnaliseTipo.label}" scope="col"/>
    <th th:text="#{analiseTipo.descricaoAnaliseTipo.label}" scope="col"/>
</span>
<span layout:fragment="auditTBody">
    <td th:text="${a.getEntidade().getAnaliseTipo()}"></td>
    <td th:text="${a.getEntidade().getSiglaAnaliseTipo()}"></td>
    <td th:text="${a.getEntidade().getDescricaoAnaliseTipo()}"></td>
</span>
</html>