<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{analiseTipo.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{analiseTipo.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/analiseTipos}" th:text="#{analiseTipo.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('analiseTipo')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='analiseTipo', field='analiseTipo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='analiseTipo', field='siglaAnaliseTipo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='analiseTipo', field='descricaoAnaliseTipo')}" />
                <input type="submit" th:value="#{analiseTipo.edit.headline}" class="btn btn-primary mt-4" />
            </form>

            <table class="table table-striped table-hover align-middle">
                <thead>
                <tr>
                    <th>Revisao</th>
                    <th>Tipo</th>
                    <th th:text="#{analiseTipo.id.label}" scope="col"/>
                    <th th:text="#{analiseTipo.analiseTipo.label}" scope="col"/>
                    <th th:text="#{analiseTipo.siglaAnaliseTipo.label}" scope="col"/>
                    <th th:text="#{analiseTipo.descricaoAnaliseTipo.label}" scope="col"/>
                    <th>Usuário</th>
                    <th>Data</th>
                    <th>Ip</th>
                    <th>Motivo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a:${audits}">
                    <td th:text="${a.getRevisao().getId()}"></td>
                    <td th:text="${a.getRevisao().getRevType()}"></td>
                    <td th:text="${a.getEntidade().getId()}"></td>
                    <td th:text="${a.getEntidade().getAnaliseTipo()}"></td>
                    <td th:text="${a.getEntidade().getSiglaAnaliseTipo()}"></td>
                    <td th:text="${a.getEntidade().getDescricaoAnaliseTipo()}"></td>
                    <td th:text="${a.getRevisao().getUserName()}"></td>
                    <td th:text="${a.getRevisao().getRevisionDate()}"></td>
                    <td th:text="${a.getRevisao().getIp()}"></td>
                    <td th:text="${a.getRevisao().getMotivo()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
