<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{analiseTipo.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{analiseTipo.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/analiseTipos/add}" th:text="#{analiseTipo.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${analiseTipos.empty}" th:text="#{analiseTipo.list.empty}"/>
    <div th:if="${!analiseTipos.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{analiseTipo.analiseTipo.label}" scope="col"/>
    <th th:text="#{analiseTipo.siglaAnaliseTipo.label}" scope="col"/>
    <th th:text="#{analiseTipo.descricaoAnaliseTipo.label}" scope="col"/>
</span>
<span layout:fragment="listContent">
    <tr th:each="analiseTipo : ${analiseTipos}">
        <td th:text="${analiseTipo.id}"/>
        <td th:text="${analiseTipo.version}"/>
        <td th:text="${analiseTipo.analiseTipo}"/>
        <td th:text="${analiseTipo.siglaAnaliseTipo}"/>
        <td th:text="${analiseTipo.descricaoAnaliseTipo}"/>
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/analiseTipos/edit/{id}(id=${analiseTipo.id})}"
                   th:text="#{analiseTipo.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${analiseTipo.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${analiseTipo.id}, link='analiseTipos')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/analiseTipos/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>