<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{analiseTipo.list.headline}"/>
</head>
<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card widget-todo-item">
                    <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                        <h4 class="card-title d-flex">
                            <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>
                            <h2 th:text="#{analiseTipo.list.headline}" class="flex-grow-1"/>
                        </h4>
                        <ul class="list-inline d-flex mb-0">
                            <li class="d-flex align-items-center">
                                <i class="bx bx-check-circle font-medium-3 me-50"></i>
                                <a th:href="@{/analiseTipos/add}" th:text="#{analiseTipo.list.createNew}" class="btn btn-success ms-2"/>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body mt-3">
                        <div th:if="${analiseTipos.empty}" th:text="#{analiseTipo.list.empty}"/>
                        <div th:if="${!analiseTipos.empty}" class="table-responsive">
                            <table class="table table-striped table-hover align-middle table-sm" id="tableList">
                                <thead>
                                <tr>
                                    <th th:text="#{analiseTipo.id.label}" scope="col"/>
                                    <th th:text="#{audit.version}" scope="col"/>
                                    <th th:text="#{analiseTipo.analiseTipo.label}" scope="col"/>
                                    <th th:text="#{analiseTipo.siglaAnaliseTipo.label}" scope="col"/>
                                    <th th:text="#{analiseTipo.descricaoAnaliseTipo.label}" scope="col"/>
                                    <th><!-- --></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="analiseTipo : ${analiseTipos}">
                                    <td th:text="${analiseTipo.id}"/>
                                    <td th:text="${analiseTipo.version}"/>
                                    <td th:text="${analiseTipo.analiseTipo}"/>
                                    <td th:text="${analiseTipo.siglaAnaliseTipo}"/>
                                    <td th:text="${analiseTipo.descricaoAnaliseTipo}"/>
                                    <td>
                                        <div class="float-end text-nowrap">
                                            <a th:href="@{/analiseTipos/edit/{id}(id=${analiseTipo.id})}"
                                               th:text="#{analiseTipo.list.edit}" class="btn btn-sm btn-info"/>
                                            <form th:action="@{/analiseTipos/delete/{id}(id=${analiseTipo.id})}"
                                                  th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                                <button th:text="#{analiseTipo.list.delete}" type="submit"
                                                        class="btn btn-sm btn-danger"/>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div th:replace="~{fragments/utils::pagination()}"/>
                        <div class="col-sm-12 d-flex justify-content-start">
                            <a th:href="@{/analiseTipos/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<span layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#tableList').DataTable({
                "paging": false,
                "info": false
            });
        });
    </script>
</span>
</html>
