<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{coluna.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{coluna.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/colunas}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/colunas/audit/{id}(id=${coluna.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('coluna')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='codigo')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='partNumber')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='tipoColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='fabricanteColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='marcaColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='faseColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='tamanhoColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='diametroColuna', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='coluna', field='particulaColuna', type='select')}" />
</div>
</html>