<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{material.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{material.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/materials}" th:text="#{material.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('material')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='material', field='controleEspecial', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='material', field='fiscalizado')}" />
                <div th:replace="~{fragments/forms::inputRow(object='material', field='item', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='material', field='material')}" />
                <div th:replace="~{fragments/forms::inputRow(object='material', field='tipoMaterial', type='select')}" />
                <input type="submit" th:value="#{material.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
