<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{material.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{material.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/materials/add}" th:text="#{material.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${materials.empty}" th:text="#{material.list.empty}"/>
    <div th:if="${!materials.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{material.controleEspecial.label}" scope="col" />
    <th th:text="#{material.fiscalizado.label}" scope="col" />
    <th th:text="#{material.item.label}" scope="col" />
    <th th:text="#{material.material.label}" scope="col" />
    <th th:text="#{material.tipoMaterial.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="material : ${materials}">
        <td th:text="${material.id}"/>
        <td th:text="${material.version}"/>
        <td th:text="${material.controleEspecial}" />
        <td th:text="${material.fiscalizado}" />
        <td th:text="${material.item}" />
        <td th:text="${material.material}" />
        <td th:text="${material.tipoMaterial}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/materials/edit/{id}(id=${material.id})}"
                   th:text="#{material.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${material.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${material.id}, link='materials')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/materials/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>