<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{equipamento.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{equipamento.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/equipamentos}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/equipamentos/audit/{id}(id=${equipamento.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('equipamento')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='descricao')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='tag')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='fabricante')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='marca')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='modelo')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='ultimaCalibracao', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='proximaCalibracao', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='ativo', type='checkbox')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='imagem', type='number')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='serialNumber')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='tipo', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='setor', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='certificado', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='manual', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='procedimento', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='escala', type='select')}" />
</div>
</html>