<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{equipamento.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{equipamento.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/equipamentos/add}" th:text="#{equipamento.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='equipamento')}" />
            <div th:if="${equipamentos.empty}" th:text="#{equipamento.list.empty}" />
            <div th:if="${!equipamentos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{equipamento.id.label}" scope="col" />
                            <th th:text="#{equipamento.descricao.label}" scope="col" />
                            <th th:text="#{equipamento.tag.label}" scope="col" />
                            <th th:text="#{equipamento.fabricante.label}" scope="col" />
                            <th th:text="#{equipamento.marca.label}" scope="col" />
                            <th th:text="#{equipamento.modelo.label}" scope="col" />
                            <th th:text="#{equipamento.ultimaCalibracao.label}" scope="col" />
                            <th th:text="#{equipamento.proximaCalibracao.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="equipamento : ${equipamentos}">
                            <td th:text="${equipamento.id}" />
                            <td th:text="${equipamento.descricao}" />
                            <td th:text="${equipamento.tag}" />
                            <td th:text="${equipamento.fabricante}" />
                            <td th:text="${equipamento.marca}" />
                            <td th:text="${equipamento.modelo}" />
                            <td th:text="${equipamento.ultimaCalibracao}" />
                            <td th:text="${equipamento.proximaCalibracao}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/equipamentos/edit/{id}(id=${equipamento.id})}" th:text="#{equipamento.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/equipamentos/delete/{id}(id=${equipamento.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{equipamento.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
