<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{analise.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{analise.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/analises/add}" th:text="#{analise.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='analise')}" />
            <div th:if="${analises.empty}" th:text="#{analise.list.empty}" />
            <div th:if="${!analises.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{analise.id.label}" scope="col" />
                            <th th:text="#{analise.analise.label}" scope="col" />
                            <th th:text="#{analise.descricaoAnalise.label}" scope="col" />
                            <th th:text="#{analise.siglaAnalise.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="analise : ${analises}">
                            <td th:text="${analise.id}" />
                            <td th:text="${analise.analise}" />
                            <td th:text="${analise.descricaoAnalise}" />
                            <td th:text="${analise.siglaAnalise}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/analises/edit/{id}(id=${analise.id})}" th:text="#{analise.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/analises/delete/{id}(id=${analise.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{analise.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
