<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{analise.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{analise.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/analises/add}" th:text="#{analise.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${analises.empty}" th:text="#{analise.list.empty}"/>
    <div th:if="${!analises.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{analise.analise.label}" scope="col"/>
    <th th:text="#{analise.descricaoAnalise.label}" scope="col"/>
    <th th:text="#{analise.siglaAnalise.label}" scope="col"/>
</span>
<span layout:fragment="listContent">
    <tr th:each="analise : ${analises}">
        <td th:text="${analise.id}"/>
        <td th:text="${analise.version}"/>
        <td th:text="${analise.analise}"/>
        <td th:text="${analise.descricaoAnalise}"/>
        <td th:text="${analise.siglaAnalise}"/>
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/analises/edit/{id}(id=${analise.id})}"
                   th:text="#{analise.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${analise.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${analise.id}, link='analises')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/analises/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2"
       sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>