<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{colunaUtil.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{colunaUtil.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/colunaUtils}" th:text="#{colunaUtil.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('colunaUtil')}" />
            <form th:action="${T(br.com.lablims.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='codigoColuna')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='serialNumber')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='dataAtivacao')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='dataVerificacao')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='dataDescarte')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='estoque', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='obs')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='coluna', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='setor', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='metodologiaVersao', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='analise', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='colunaVaga', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='certificado', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='colunaUtil', field='anexos', type='multiselect')}" />
                <input type="submit" th:value="#{colunaUtil.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
