<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{lote.add.headline}"/>
</head>
<span layout:fragment="addHeadline">
    <h1 th:text="#{lote.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/lotes}" th:text="#{add.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('lote')}"/>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='lote')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='qtdEstoque')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataStatus', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataEntrada', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataInicioAnalise', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataLiberacao', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataEnvioGarantia', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataNecessidade', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataValidade', inputClass='js-datetimepicker')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataImpressao')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='numeroDocumento')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='complemento')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='material', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='amostraTipo', type='select')}" />
</div>
</html>