<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{lote.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{lote.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/lotes/add}" th:text="#{lote.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${lotes.empty}" th:text="#{lote.list.empty}"/>
    <div th:if="${!lotes.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{lote.lote.label}" scope="col" />
    <th th:text="#{lote.qtdEstoque.label}" scope="col" />
    <th th:text="#{lote.dataStatus.label}" scope="col" />
    <th th:text="#{lote.dataEntrada.label}" scope="col" />
    <th th:text="#{lote.dataInicioAnalise.label}" scope="col" />
    <th th:text="#{lote.dataLiberacao.label}" scope="col" />
    <th th:text="#{lote.dataEnvioGarantia.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="lote : ${lotes}">
        <td th:text="${lote.id}"/>
        <td th:text="${lote.version}"/>
        <td th:text="${lote.lote}" />
        <td th:text="${lote.qtdEstoque}" />
        <td th:text="${lote.dataStatus}" />
        <td th:text="${lote.dataEntrada}" />
        <td th:text="${lote.dataInicioAnalise}" />
        <td th:text="${lote.dataLiberacao}" />
        <td th:text="${lote.dataEnvioGarantia}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/lotes/edit/{id}(id=${lote.id})}"
                   th:text="#{lote.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${lote.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${lote.id}, link='lotes')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/lotes/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
