<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{colunaConfig.list.headline} + ' ' + Auditoria"/>
</head>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{colunaConfig.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/colunaConfigs}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="auditTHeads">
    <th th:text="#{colunaConfig.tipo.label}" scope="col" />
    <th th:text="#{colunaConfig.configuracao.label}" scope="col" />
    <th th:text="#{colunaConfig.descricao.label}" scope="col" />
</span>
<span layout:fragment="auditTBody">
    <td th:text="${a.getEntidade().getTipo()}"></td>
    <td th:text="${a.getEntidade().getConfiguracao()}"></td>
    <td th:text="${a.getEntidade().getDescricao()}"></td>
</span>
</html>

