<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{colunaStorage.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{colunaStorage.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/colunaStorages}" th:text="#{edit.back}" class="btn btn-secondary"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/colunaStorages/audit/{id}(id=${colunaStorage.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('colunaStorage')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='colunaStorage', field='codigo')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaStorage', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaStorage', field='setor', type='select')}" />
    <div th:replace="~{fragments/forms::inputRow(object='colunaStorage', field='tipo', type='select')}" />
</div>
</html>