<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{analiseStatus.add.headline}"/>
</head>
<span layout:fragment="addHeadline">
    <h1 th:text="#{analiseStatus.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/analiseStatuss}" th:text="#{add.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('analiseStatus')}"/>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='analiseStatus', field='analiseStatus')}" />
    <div th:replace="~{fragments/forms::inputRow(object='analiseStatus', field='siglaAnaliseStatus')}" />
    <div th:replace="~{fragments/forms::inputRow(object='analiseStatus', field='descricaoAnaliseStatus')}" />
    <div th:replace="~{fragments/forms::inputRow(object='analiseStatus', field='analiseProdutividade', type='select')}" />
</div>
</html>