<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{analiseStatus.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{analiseStatus.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/analiseStatuss/add}" th:text="#{analiseStatus.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{parameters.back}" class="btn btn-secondary"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${analiseStatuss.empty}" th:text="#{analiseStatus.list.empty}"/>
    <div th:if="${!analiseStatuss.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{analiseStatus.analiseStatus.label}" scope="col"/>
    <th th:text="#{analiseStatus.siglaAnaliseStatus.label}" scope="col" />
    <th th:text="#{analiseStatus.descricaoAnaliseStatus.label}" scope="col" />
    <th th:text="#{analiseStatus.analiseProdutividade.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="analiseStatus : ${analiseStatuss}">
        <td th:text="${analiseStatus.id}"/>
        <td th:text="${analiseStatus.version}"/>
        <td th:text="${analiseStatus.analiseStatus}"/>
        <td th:text="${analiseStatus.siglaAnaliseStatus}" />
        <td th:text="${analiseStatus.descricaoAnaliseStatus}" />
        <td th:text="${analiseStatus.analiseProdutividade}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/analiseStatuss/edit/{id}(id=${analiseStatus.id})}"
                   th:text="#{analiseStatus.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#remover_'+${analiseStatus.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="fragments/modal :: modalDelete(field=${analiseStatus.id}, link='analiseStatuss')"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/analiseStatuss/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>